body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
}




.layout {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    height: calc(100vh - 60px);
    overflow: hidden;
    height: auto;
  }
  
  .left-panel, .right-panel {
    background: rgba(0, 0, 0, 0.45);
    padding: 20px;
    overflow-y: auto;
  }


  .toy-on-tree {
    position: absolute;
    cursor: pointer;
    pointer-events: auto;  
    z-index: 5;            
  }


  .garland-on-tree {
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
    z-index: 4;
    animation: blink 1.6s infinite ease-in-out;
  }


@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 1; }
}


